<!-- Header -->
<%- include('include/_header') %>
<!-- /Header -->
<main>
    <section class="welcome-container">
        <h1>Welcome</h1>
    </section>
    <section class="tile-container">
        <!-- Novel Tile -->
        <%- include('include/_novelTile') %>
        <!-- /Novel Tile  -->
    </section>
</main>
<!-- Footer -->
<%- include('include/_footer') %>
<!-- /Footer -->