<!-- Header -->
<%- include('include/_header') %>
<!-- /Header -->
<main>
    <section class="novel-desc">
        <img src="/img/full-beginning-after-end.jpg" alt="beginning-after-end">
        <div class="desc">
            <h1>Beginning after the end</h1>
            <p>King Grey has unrivaled strength, wealth, and prestige in a world governed through martial ability.
                However, solitude lingers closely behind those with great power. Beneath the glamorous exterior of a
                powerful king lurks the shell of a man, devoid of purpose and will. Reincarnated into a new world
                filled
                with magic and monsters, the king has a second chance to relive his life. Correcting the mistakes of
                his
                past will not be his only challenge, however. Underneath the peace and prosperity of the new world
                is an
                undercurrent threatening to destroy everything he has worked for, questioning his role and reason
                for
                being born again.</p>
        </div>
    </section>
    <section class="chapter-list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Chapter</th>
                </tr>
            </thead>
            <!-- Chapter List -->
            <%- include('include/_chapterList') %>
            <!-- /Chapter List -->
        </table>
    </section>
</main>
<!-- Footer -->
<%- include('include/_footer') %>
<!-- /Footer -->