<div class="tile">
    <div class="tile-img">
        <img src="/img/beginning-after-end.jpg" alt="beginning-after-end">
    </div>
    <div class="tile-title">Beginning After the End</div>
    <div class="tile-desc">
        King Grey has unrivaled strength, wealth, and prestige in a world governed through martial ability.
        However, solitude lingers closely behind those with great power...
    </div>
    <a class="tile-link" href="/novel">Continue reading</a>
</div>
<div class="tile">
    <div class="tile-img">
        <img src="/img/beginning-after-end.jpg" alt="beginning-after-end">
    </div>
    <div class="tile-title">Beginning After the End</div>
    <div class="tile-desc">
        King Grey has unrivaled strength, wealth, and prestige in a world governed through martial ability.
        However, solitude lingers closely behind those with great power
    </div>
    <a class="tile-link" href="#">Continue reading</a>
</div>
<div class="tile">
    <div class="tile-img">
        <img src="/img/beginning-after-end.jpg" alt="beginning-after-end">
    </div>
    <div class="tile-title">Beginning After the End</div>
    <div class="tile-desc">
        King Grey has unrivaled strength, wealth, and prestige in a world governed through martial ability.
        However, solitude lingers closely behind those with great power.
    </div>
    <a class="tile-link" href="#">Continue reading</a>
</div>
<div class="tile">
    <div class="tile-img">
        <img src="/img/beginning-after-end.jpg" alt="beginning-after-end">
    </div>
    <div class="tile-title">Beginning After the End</div>
    <div class="tile-desc">
        King Grey has unrivaled strength, wealth, and prestige in a world governed through martial ability.
        However, solitude lingers closely behind those with great power.
    </div>
    <a class="tile-link" href="#">Continue reading</a>
</div>
<div class="tile">
    <div class="tile-img">
        <img src="/img/beginning-after-end.jpg" alt="beginning-after-end">
    </div>
    <div class="tile-title">Beginning After the End</div>
    <div class="tile-desc">
        King Grey has unrivaled strength, wealth, and prestige in a world governed through martial ability.
        However, solitude lingers closely behind those with great power.
    </div>
    <a class="tile-link" href="#">Continue reading</a>
</div>
<div class="tile">
    <div class="tile-img">
        <img src="/img/beginning-after-end.jpg" alt="beginning-after-end">
    </div>
    <div class="tile-title">Beginning After the End</div>
    <div class="tile-desc">
        King Grey has unrivaled strength, wealth, and prestige in a world governed through martial ability.
        However, solitude lingers closely behind those with great power.
    </div>
    <a class="tile-link" href="#">Continue reading</a>
</div>